* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header {
    margin-top: 40px;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 8rem;
    margin-bottom: 50px;
}

main {
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
}

header h1 {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(233, 237, 239);
}

.valor-container {
    display: flex;
    margin: 0 auto;
    background-color: aqua;
    width: 200px;
}

.form {
    margin: 0 auto;
}

.valor {
    display: inline-block;
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 1.8rem;
}

.parcela-titulo {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}

.resultados {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-top: 80px;
    row-gap: 30px;
}

.resultado {
    border: 2px solid rgba(125, 125, 125, 0.273);
    border-radius: 4px;
    width: 400px;
    display: block;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0 0 9px 1px rgb(209, 209, 209);
    opacity: 1;
    transition: opacity 0.5s ease-in;
}
footer {
    margin-top: 40px;
}

.resultado.desativado {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}


.resultado p {
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid rgba(125, 125, 125, 0.273);
}

.resultado span {
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
}

.resultado .totalComAcrescimo {
    color: red;
}
#parcela-8x {
    border: 3px solid rgba(255, 234, 47, 0.631);
    box-shadow: 0 0 8px 5px rgb(255, 168, 47);
}

@media (max-width: 700px) {
    .resultados {
        display: flex;
        flex-direction: column;
    }
    .valor-container{
        margin-top: 0;
    }

    .resultado {
        width: 300px;
    }

    .resultado p {
        font-size: 0.8rem;
    }

    header h1 {
        font-size: 5rem;
    }
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input {
    border: 2px solid rgba(125, 125, 125, 0.273);
    border-radius: 4px;
    box-shadow: 0 0 9px 1px rgb(209, 209, 209);
}

input::placeholder {
    color: rgb(218, 218, 218);
}